@charset "UTF-8";
body {
  font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.1em;
  color: #333;
  background: #f8f8f8;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}

.flex {
  display: flex;
}

header {
  height: 90px;
  width: 100%;
  padding: 0 4%;
  background: #f8f8f8;
  position: fixed;
  top: 0;
  z-index: 999;
}

.mobile-menu {
  display: block;
}
@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

.desktop-menu {
  display: none;
}
@media (min-width: 769px) {
  .desktop-menu {
    display: block;
  }
}

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #f8f8f8;
  /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 7%;
  right: 4%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 1px;
  background-color: #333;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.gnav {
  justify-content: space-between;
  padding-top: 20px;
  font-size: 18px;
  align-items: end;
}
.gnav__logo {
  width: 70px;
  height: 70px;
  border-bottom: 1px solid #333;
}
.gnav__list {
  padding-bottom: 30px;
}
.gnav__item + .gnav__item {
  margin-left: 30px;
}
.gnav__link:hover {
  color: #7F6D35;
}

.top {
  padding-left: 4%;
  margin-top: 90px;
  position: relative;
}
.top__Title {
  position: absolute;
  top: 0px;
}
.top__Title h1 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 15px;
  color: #7F6D35;
}
.top__Title p {
  font-size: 14px;
  color: #7F6D35;
}
.top__Title p:last-child {
  display: inline-block;
  margin-top: 10px;
}

#slider {
  width: 90%;
  height: 88vh;
  margin-right: 0;
  margin-left: auto;
}
@media (min-width: 769px) {
  #slider {
    width: 85%;
    height: 88vh;
    margin-right: auto;
    margin-left: auto;
  }
}

footer {
  height: 50px;
  border-top: 1px solid #333;
  text-align: center;
}

section {
  padding-top: 100px;
}
@media (min-width: 769px) {
  section {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .sec__content__box {
    width: 85%;
  }
}

.sec__title {
  font-size: 48px;
  font-weight: normal;
}
.sec__title span {
  font-size: 18px;
  margin-left: 50px;
}
@media (min-width: 769px) {
  .sec__title span {
    margin: 0;
    margin-top: 50px;
    text-align: 20px;
  }
}
.sec__title::before {
  content: "【";
  font-size: 32px;
  padding-right: 10px;
}
.sec__title::after {
  content: "】";
  font-size: 32px;
  padding-left: 10px;
}
.sec__title__container {
  align-items: end;
  margin-bottom: 50px;
}
.sec__title__container p {
  display: block;
  padding-bottom: 10px;
  margin-left: 10px;
}
@media (min-width: 769px) {
  .sec__title__container {
    flex-direction: column;
    align-items: start;
    width: 10%;
    vertical-align: top;
  }
}
@media (min-width: 769px) {
  .sec__title {
    writing-mode: vertical-rl;
  }
}

.content__title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: normal;
}
.content__title span {
  font-size: 14px;
}
.content__title span::before {
  content: "/";
  font-size: 24px;
  padding-right: 10px;
  margin-left: 5px;
}

@media (min-width: 769px) {
  .about .sec__content__box {
    display: flex;
    justify-content: space-between;
  }
}

.about__me {
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .about__me {
    width: 45%;
  }
}

@media (min-width: 769px) {
  .about__event {
    width: 45%;
  }
}

.about__event__item dt {
  margin-bottom: 10px;
  font-size: 14px;
}
.about__event__item dd {
  font-size: 11px;
}
.about__event__item time {
  font-size: 10px;
}
.about__event__item span {
  font-size: 10px;
}
.about__event__item span::before {
  content: "/at";
  font-size: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.skill__container {
  display: grid;
}
.skill__container dl dd {
  font-size: 14px;
}

.works__list {
  font-size: 18px;
  margin-bottom: 30px;
  justify-content: center;
}
.works__item + .works__item::before {
  content: "|";
  font-size: 18px;
  margin: 0 20px;
}
.worksglid__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.worksglid__itemfigcaption {
  font-size: 14px;
}
.works__glid__cap {
  font-size: 10px;
  margin-bottom: 5px;
}
.works__glid__cap p::after {
  content: "|";
  font-size: 10px;
  padding-left: 10px;
  margin-right: 10px;
}

.contact {
  background-image: url(../img/footer.jpg);
  background-position: bottom;
  padding-bottom: 150px;
  background-size: contain;
  mix-blend-mode: multiply;
}
/*# sourceMappingURL=style.css.map */