@charset "utf-8";

//変数--------------------
$pc: 769px;

@mixin pc {
    @media(min-width:($pc)) {
        @content;
    }
}

$white-color:#FFFEF2
/* #f8f8f8 */;
$black-color:#333132;
$accent:#E83929/* #832F12 *//* #7F6D35 */;
//------------------------


//共通部分---------------------------

body {
    font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.1em;
    color: $black-color;
    background: $white-color;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $black-color;
}

ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

.flex {
    display: flex;
}



//xscroll-----------------------------------

@include pc{
    .xScroll{
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style:none;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;


        &__box{
            display: flex;
            width: 500vw;
            transform: rotate(90deg) translateY(-100vh);
            transform-origin: top left;
        }
        &__slide{
            width: 100vw;
            height: 100vh;
            padding-left: 0;
            scroll-snap-align: start;
        }
        
    }
    ::-webkit-scrollbar{
        display: none;
    }
    
}


//header-------------------------------------
header {
    height: 90px;
    width: 100%;
    padding: 0 4%;
    background: $white-color;
    position: fixed;
    top: 0;
    z-index: 999;
}

//gnav-------------
.mobile-menu {
    display: block;

    @include pc {
        display: none;
    }
}

.desktop-menu {
    display: none;

    @include pc {
        display: block;
    }
}


//モバイル用ハンバーガーメニュー---
.gnav__logo {
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border-bottom: 1px solid $black-color;
}

#g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: $white-color;
    /*動き*/
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/

#g-nav li {
    list-style: none;
    text-align: center;
}

#g-nav li a {
    color: $black-color;
    text-decoration: none;
    padding: 10px;
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 4%;
    right: 4%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 1px;
    background-color: $black-color;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

//デスクトップ用メニュー-----

@include pc{
    header {
        height: 100vh;
        width: 150px;
        padding: 0;
        top: 0;
        border-right: 1px solid $black-color;
    }
    .gnav {
        margin-left: 30px;
        font-size: 16px;
        flex-direction: column;

        &__list {
            margin-top: 50px;
        }
    
        &__item+&__item {
            margin-top: 10px;
        }
        &__link:hover{
            color: $accent;
        }
    }
}


//topTitle------------


.top {
    padding-left: 4%;
    margin-top: 90px;
    position: relative;

    &__Title {

        position: absolute;
        top: 0px;

        & h1 {
            font-size: 48px;
            font-weight: normal;
            margin-bottom: 15px;
            color: $accent;

            @include pc{
                font-size: 52px;
            }

        }

        & p {
            font-size: 14px;
            color: $accent;


            &:last-child {
                display: inline-block;
                margin-top: 10px;
            }
        }
        @include pc{
            margin-top: 50px;
            padding-left: 200px;
        }
    }

    @include pc{
        padding: 0;
        margin: 0;
    }
}


//slider--------------------------------------
#slider {
    width: 90%;
    height: 88vh;
    margin-right: 0;
    margin-left: auto;
    
    @include pc {
        width: 100%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}




//section--------------------------------------
section {

    padding: 100px 4% 0 4%;

    @include pc{
        display: flex;
        justify-content: space-between;
        padding: 30px;

    }
    
}


.sec__title {
    font-size: 40px;
    font-weight: normal;

    & span {
        font-size: 16px;
        margin-left: 50px;


        @include pc{
            font-size: 18px;
            margin: 50px 0 0 0;
            vertical-align: -8px;
        }
    }

    &::before {
        content: "【";
        font-size: 32px;
        padding-right: 10px;

        @include pc{
            vertical-align: -8px;
            margin-bottom: 10px;
        }
    }

    &::after {
        content: "】";
        font-size: 32px;
        padding-left: 10px;

        @include pc{
            vertical-align: -8px;
            margin-top: 10px;
        }
    }

    &__container {
        align-items: end;
        margin-bottom: 50px;


        & p {
            display: block;
            padding-bottom: 10px;
            margin-left: 10px;

            @include pc{
                margin: 10px 0 0 15px;
            }
        }

        @include pc{
            flex-direction: column;
            align-items: start;
            width: 10%;
            vertical-align:top;
            margin-left: 150px;
        }
    }

    @include pc {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        font-size: 48px;

    }

}

.content__title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: normal;

    & span {
        font-size: 14px;

        &::before {
            content: "/";
            font-size: 24px;
            padding-right: 10px;
            margin-left: 5px;
        }
    }
}


//about----------------------------------
.about .sec__content__box{
    
    @include pc{
        display: flex;
        justify-content: space-between;
    }
}

.about__me {
    margin-bottom: 30px;

    & p{
        font-size: 14px;
    }

    @include pc{
        width: 45%;
    }
}

.about__event{

    @include pc{
        width: 45%;
    }
}
.about__event__item {

    & dt {
        margin-bottom: 10px;
        font-size: 16px;
    }

    & dd {
        font-size: 12px;
    }

    & time {
        font-size: 12px;
    }

    & span {
        font-size: 14px;

        &::before {
            content: "/at";
            font-size: 10px;
            padding-right: 10px;
            margin-left: 5px;
        }
    }
}

//skill--------------------

.skill__container {
    display: grid;

    & dl dd {
        font-size: 14px;
    }
}

//works---------------------

.works {

    //works_nav
    &__list {
        font-size: 18px;
        margin-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item+&__item::before {
        content: "|";
        font-size: 18px;
        margin: 0 20px;
    }

    //glid
    &glid__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px;
    }

    &glid__item {
        &figcaption {
            font-size: 14px;
        }


    }

    &__glid__cap {
        font-size: 12px;
        margin-bottom: 5px;

        & p::after {
            content: "|";
            font-size: 10px;
            padding-left: 10px;
            margin-right: 10px;
        }
    }


}

//contact

.contact{  
    padding-bottom: 0;

    @include pc{

        &__box{
            position: relative;
            width:100%;

            & footer{
                height: 50px;
                padding-top: 20%;
                background-position: bottom 50px;

                position: absolute;
                bottom: 0;
                right: 0;
            }
    }

    }
}

//footer---------------------------------------

footer {
    color: $accent;
    width: 100%;
    padding-top: 40%;
    // border-top: 1px solid $black-color;
    margin-bottom: 30px;
    text-align: center;
    background-image: url(../img/footer.jpg);
    background-position: top center;
    background-size: contain;
    mix-blend-mode:multiply;

    & small{
        font-size: 11px;
    }
}


