@charset "utf-8";

//変数--------------------
$pc: 769px;

@mixin pc {
    @media(min-width:($pc)) {
        @content;
    }
}

$white-color:
/* #f8f8f8 */
#fff;
$black-color:#000;
$accent:#dddcd6;
//------------------------


//共通部分---------------------------

body {
    font-family: "garamond-premier-pro", "fot-tsukuaoldmin-pr6n", serif;
    color: $black-color;
    background: $white-color;
    line-height: 1.75;
    letter-spacing: 0.05em;
    font-weight: normal;

}

a {
    text-decoration: none;
    color: $black-color;
}


ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}



.top__wrapper {

    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 0 8vw;

    @include pc {
        padding: 0;
    }
}

#g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 70px;
    right: -120%;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: $white-color;
    /*動き*/
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 15px;
    border-top: 1px solid $black-color;
    border-bottom: 1px solid $black-color;
    // border-left: 1px solid $black-color;

    @include pc {
        font-size: 18px;
        padding: 30px;
    }


}

/*リストのレイアウト設定*/

#g-nav li {
    list-style: none;
    text-align: center;

}

#g-nav li a {
    color: $black-color;
    text-decoration: none;
    padding: 10px;
    display: block;
    letter-spacing: 0.1em;
    font-weight: normal;
    text-align: left;

    &:hover {
        opacity: .6;
    }
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: absolute;
    z-index: 1000;
    /*ボタンを最前面に*/
    top: 0px;
    right: 8vw;
    width: 35px;
    height: 35px;
    cursor: pointer;

    @include pc {
        right: 0;
    }

}


/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 7px;
    height: 1px;
    background-color: $black-color;
    width: 70%;
    z-index: 99999;

    @include pc {
        width: 80%;
    }
}

.openbtn span:nth-of-type(1) {
    top: 12px;
}

.openbtn span:nth-of-type(2) {
    top: 22px;
}

.openbtn.active span:nth-of-type(1) {
    top: 10px;
    left: 6px;
    transform: translateY(6px) rotate(-45deg);
    width: 70%;

    @include pc {
        width: 80%;
    }
}

.openbtn.active span:nth-of-type(2) {
    top: 22px;
    left: 6px;
    transform: translateY(-6px) rotate(45deg);
    width: 70%;

    @include pc {
        width: 80%;
    }
}


//header-------------------------------------


header {
    height: auto;
    width: 100%;

    & .top__Title {
        top: 0;
        z-index: 999;
        padding: 20px 0;
        background-color: $white-color;
        position: fixed;
        width: 100%;
        font-size: 0;


        & h1 {
            font-size: 21px;
            letter-spacing: 0.3em;
            font-weight: normal;
            text-align: left;


            @include pc {
                font-size: 24px;
                text-align: center;
            }
        }
    }

    & .top__Text {
        height: 17vh;
        padding-top: 4vh;
        text-align: center;


        & p {
            font-size: 14px;

            &:last-child {
                margin-top: 20px;
            }
        }
    }
}

//topTitle------------


.top {
    margin-top: 75px;
    width: 100vw;
    height: 60vh;
    position: relative;

    @include pc {
        height: 75vh;
        background-color: $black-color;
    }

    & #slider {
        width: 100%;
        height: 100%;

        @include pc {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}


//section--------------------------------------
section {
    margin: 0 auto;
    padding: 80px 8vw;
    max-width: 1100px;

    @include pc {
        padding: 80px 50px;
    }
}


.sec__title {
    font-size: 28px;
    letter-spacing: 0.15em;
    font-weight: normal;

    @include pc {
        font-size: 32px;
    }

    & span {
        font-size: 18px;
        padding-left: 5px;
        letter-spacing: 0.1em;

        @include pc {
            font-size: 21px;
        }
    }

    &__container {
        text-align: center;
        margin-bottom: 50px;

        // @include pc {
        //     margin-bottom: 100px;
        //     background: linear-gradient($white-color 50%, $accent 51%, $white-color 52%);
        // }

        & p {
            font-size: 14px;
            letter-spacing: 0.05em;

            @include pc {
                font-size: 16px;
            }

            &::before {
                content: "【";
                padding-right: 5px;
            }

            &::after {
                content: "】";
                padding-left: 5px;
            }
        }
    }

}

.content__title {
    font-size: 21px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.15em;
    font-weight: normal;
    line-height: 1.2;

    & span {
        font-size: 14px;
        opacity: .6;
        letter-spacing: 0.07em;
    }
}


//about----------------------------------
.about__me {
    margin-bottom: 80px;

    @include pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__imgBox {
        margin-bottom: 30px;
        text-align: center;

        @include pc {
            width: 45%;
        }
    }

    &__txtBox {
        @include pc {
            padding-left: 5%;
            padding-right: 5%;
            width: 50%;
            border-left: 1px solid $black-color;

        }
    }

    & p {
        font-size: 14px;
    }
}

.about__event {
    &__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px 30px;

        & .event__glid__item {
            margin: 0;

            & figcaption {
                font-size: 16px;
            }
        }

        & .event__glid__cap {
            font-size: 14px;
            opacity: .6;
            margin-bottom: 5px;
        }
    }
}


//skill--------------------

.about__skill {

    & .sec__title__container {
        margin-bottom: 0;
    }

    & .skill__title {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 1;

        @include pc {
            font-size: 26px;
        }
    }
}

.skill__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;

    & dl {
        padding: 20px;
        background-color: rgba($color: $accent, $alpha: .3);
    }

    & dt {
        margin-bottom: 10px;
        text-align: center;
        font-size: 21px;

        @include pc {
            margin-bottom: 15px;
        }
    }

    & dl dd {
        font-size: 14px;
    }
}

//works---------------------

.works {

    //glid
    &__glid {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px 10px;

        @include pc {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }



        &__item {
            margin: 0;
            text-align: center;

            & figcaption {
                font-size: 16px;
            }
        }

        &__cap {
            font-size: 14px;
            justify-content: center;
            opacity: .6;
            margin-bottom: 5px;

            & time::after {
                content: "|";
                font-size: 12px;
                padding-left: 10px;
                margin-right: 10px;
            }
        }
    }
}



.zoom-box {
    display: inline-block;
    overflow: hidden;
}

.zoom {
    display: block;
    transition-duration: .5s;
}

.zoom:hover {
    transform: scale(1.2);
}


//contact

.contact {
    text-align: center;
    margin-top: 100px;

    &__box {
        & p {
            font-size: 14px;
        }

        & a {
            font-style: normal;
            margin: 20px 0;
            display: inline-block;
            font-size: 18px;
            border-bottom: 1px solid $black-color;
            transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
            transition-duration: .4s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

//footer---------------------------------------

footer {
    max-width: 1100px;
    height: auto;
    text-align: center;
    margin: 0 auto;

    & small {
        font-size: 12px;
        margin: 20px 0;
        display: inline-block;


        @include pc {
            margin: 0;
        }
    }

    & img {
        mix-blend-mode: multiply;

        @include pc {
            max-width: 800px;
            display: block;
            margin: 0 auto;
        }
    }

}

.bgc {
    background-color: #dddcd6;
}



// modaal
/*全て共通：hideエリアをはじめは非表示*/
.hide-area {
    display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
    background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
    background: #666;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;

    @include pc {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    }

    & li {
        border: 1px solid $accent;
        height: 100%;
        width: auto;
        object-fit: cover;



        & a {
            display: block;
        }
    }


}