@charset "UTF-8";
body {
  font-family: "garamond-premier-pro", "fot-tsukuaoldmin-pr6n", sans-serif;
  color: #000;
  background: #f8f8f8;
  line-height: 1.5;
  letter-spacing: 0.07em;
}

a {
  text-decoration: none;
  color: #000;
}

p,
dd {
  line-height: 1.75em;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}

.flex {
  display: flex;
}

.mobile-menu {
  display: block;
}
@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

.desktop-menu {
  display: none;
}
@media (min-width: 769px) {
  .desktop-menu {
    display: block;
  }
}

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #f8f8f8;
  /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 20px;
  right: 0;
  width: 70px;
  height: 50px;
  cursor: pointer;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 1px;
  background-color: #000;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

header {
  height: auto;
  width: 100%;
  text-align: center;
}
header .top__Title {
  height: 12vh;
  padding-top: 4vh;
}
header .top__Title h1 {
  font-size: 23px;
  letter-spacing: 0.3em;
}
header .top__Text {
  height: 17vh;
  padding-top: 4vh;
}
header .top__Text p {
  font-size: 12px;
}
header .top__Text p:last-child {
  margin-top: 20px;
}

.top {
  width: 100vw;
  height: 60vh;
  position: relative;
}
@media (min-width: 769px) {
  .top {
    padding: 0;
    margin-top: 0;
  }
}
.top #slider {
  width: 100%;
  height: 100%;
}
@media (min-width: 769px) {
  .top #slider {
    width: 80%;
    height: 100vh;
  }
}

section {
  margin: 0 auto;
  padding: 100px 6vw;
}
@media (min-width: 769px) {
  section {
    max-width: 80%;
    margin: 0 auto 0 20%;
    padding-right: 13%;
    padding-left: 7%;
  }
}

.sec__title {
  font-size: 28px;
  letter-spacing: 0.1em;
}
@media (min-width: 769px) {
  .sec__title {
    font-size: 70px;
    line-height: -10px;
    line-height: 1;
    padding-left: 10px;
  }
}
.sec__title span {
  font-size: 18px;
  padding-left: 10px;
}
@media (min-width: 769px) {
  .sec__title span {
    font-size: 18px;
    margin-left: 30px;
  }
}
.sec__title__container {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 769px) {
  .sec__title__container {
    margin-bottom: 100px;
    background: linear-gradient(#f8f8f8 50%, #C9171E 51%, #f8f8f8 52%);
  }
}
.sec__title__container p {
  font-size: 12px;
  letter-spacing: 0.05em;
}
.sec__title__container p::before {
  content: "【";
  padding-right: 5px;
}
.sec__title__container p::after {
  content: "】";
  padding-left: 5px;
}

.content__title {
  font-size: 21px;
  margin-bottom: 30px;
  text-align: center;
}
.content__title span {
  font-size: 12px;
  margin-left: 20px;
}

.about__me {
  margin-bottom: 100px;
}
@media (min-width: 769px) {
  .about__me {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.about__me__imgBox {
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 769px) {
  .about__me__imgBox {
    width: 45%;
  }
}
@media (min-width: 769px) {
  .about__me__txtBox {
    width: 45%;
  }
}
.about__me p {
  font-size: 14px;
}

.about__event__box {
  padding-top: 20px;
}
@media (min-width: 769px) {
  .about__event__box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
    grid-auto-flow: column;
  }
}
.about__event__item dt {
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid #000;
}
.about__event__item dd {
  font-size: 12px;
  margin-bottom: 30px;
}
.about__event__item time {
  font-size: 12px;
}
.about__event__item span {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
}
.about__event__item span::before {
  content: "/";
  padding-right: 5px;
  margin-left: 10px;
}

.skill__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.skill__container dl dd {
  font-size: 14px;
}

.works__glid__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
@media (min-width: 769px) {
  .works__glid__box {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.works__glid__item {
  margin: 0;
  text-align: center;
}
.works__glid__item figcaption {
  font-size: 14px;
}
.works__glid__cap {
  font-size: 12px;
  justify-content: center;
  margin-bottom: 5px;
}
.works__glid__cap time::after {
  content: "|";
  font-size: 10px;
  padding-left: 10px;
  margin-right: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  padding-bottom: 0;
}
@media (min-width: 769px) {
  .contact__box {
    position: relative;
    width: 100%;
  }
  .contact__box footer {
    height: 50px;
    padding-top: 20%;
    background-position: bottom 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

footer {
  color: #C9171E;
  width: 100%;
  padding-top: 40%;
  margin-bottom: 30px;
  text-align: center;
  background-image: url(../img/footer.jpg);
  background-position: top center;
  background-size: contain;
  mix-blend-mode: multiply;
}
footer small {
  font-size: 11px;
}
/*# sourceMappingURL=style.css.map */