@charset "utf-8";

//変数--------------------
$pc: 769px;

@mixin pc {
    @media(min-width:($pc)) {
        @content;
    }
}

$white-color:#fdfcf9;
/* #FAF9F6 */
/* #f8f8f8 */
;
$black-color:
/* #333132 */
#180614;
$accent:#C9171E
/* #783438 */
/* #E83929 */
/* #832F12 */
/* #7F6D35 */
;
//------------------------


//共通部分---------------------------

body {
    font-family: "garamond-premier-pro", "fot-tsukuaoldmin-pr6n", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $black-color;
    background: $white-color;
    line-height: 1.5;
    letter-spacing: 0.07em;


}

a {
    text-decoration: none;
    color: $black-color;
}

p,
dd {
    line-height: 1.75em;
}

ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4%;
}

.flex {
    display: flex;
}

//header-------------------------------------
header {
    height: 80px;
    width: 100%;
    padding: 0 4%;
    background: $white-color;
    position: fixed;
    top: 0;
    z-index: 999;
}

//gnav-------------
.mobile-menu {
    display: block;

    @include pc {
        display: none;
    }
}

.desktop-menu {
    display: none;

    @include pc {
        display: block;
    }
}


//モバイル用ハンバーガーメニュー---
.gnav__logo {
    margin-top: 20px;
    width: 65px;
    height: 65px;

    @include pc{
        margin-top: 0;
    }

    & img {
        width: 65px;
        height: auto;
    }
}

#g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: $white-color;
    /*動き*/
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/

#g-nav li {
    list-style: none;
    text-align: center;
}

#g-nav li a {
    color: $black-color;
    text-decoration: none;
    padding: 10px;
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 20px;
    right: 0;
    width: 70px;
    height: 50px;
    cursor: pointer;
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 1px;
    background-color: $black-color;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

//デスクトップ用メニュー-----

@include pc {
    header {
        padding: 0;
        top: 0;
        width: 20%;
        height: 100vh;
        background-color: transparent;
        border-right: 1px solid $accent;
    }

    .gnav {
        font-size: 16px;
        justify-content: space-between;
        align-items:center;
        flex-direction: column;
        height: 100vh;
        padding: 15% 15%;
        letter-spacing: 0.1em;


        &__list {
            // display: flex;
            flex-direction: column;
        }

        &__item+&__item {
            margin-top: 15px;
        }

        &__link {
            color: $accent;
        }

        &__link:hover {
            color: $accent;
        }
    }
}


//topTitle------------


.top {
    padding-left: 4%;
    margin: 80px 0 50px 0;
    width: 100vw;
    position: relative;

    @include pc {
        padding: 0;
        margin-top: 0;
    }

    & #slider {
        width: 90%;
        height: 88vh;
        margin-right: 0;
        margin-left: auto;

        @include pc {
            width: 80%;
            height: 100vh;
        }
    }

    &__Title {

        position: absolute;
        top: 8%;
        z-index: 999;

        @include pc {
            // padding-left: 4%;
            top: 120px;
            line-height: 1.2;
            text-align: center;

        }

        & h1 {
            font-size: 48px;
            font-weight: normal;
            margin-bottom: 15px;
            color: $accent;
            letter-spacing: 0.1em;

            @include pc {
                font-size: 38px;
            }

        }

        & p {
            font-size: 14px;
            color: $accent;
            font-style: italic;

            @include pc {
                // font-size: 16px;
                line-height: 1.75;

            }

            &:last-child {
                display: inline-block;
                margin-top: 10px;
            }
        }
    }
}


//section--------------------------------------
section {
    margin: 0 auto;
    padding: 100px 4%;

    @include pc {
        max-width: 80%;
        margin: 0 auto 0 20%;
        // padding-left: 20%;
        padding-right: 13%;
        padding-left: 7%;


    }
}


.sec__title {
    font-size: 42px;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: $accent;

    @include pc {
        font-size: 70px;
        line-height: -10px;
        line-height: 1;
    }

    & span {
        font-size: 12px;
        margin-left: 10px;
        letter-spacing: 0.05em;

        @include pc {
            font-size: 18px;
            margin-left: 30px;
        }

        &::before {
            content: "【";
            padding-right: 5px;
        }

        &::after {
            content: "】";
            padding-left: 5px;
        }
    }



    &__container {
        justify-content: space-between;
        align-items: end;
        margin-bottom: 50px;

        @include pc {
            margin-bottom: 100px;
        }

        & p {
            display: block;
            padding-bottom: 10px;
            margin-left: 10px;
        }
    }

}

.content__title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;

    & span {
        font-size: 14px;
        margin-left: 20px;

        // &::before {
        //     content: "/";
        //     font-size: 24px;
        //     padding-right: 10px;
        //     margin-left: 5px;
        // }
    }
}


//about----------------------------------
.about__me {
    margin-bottom: 100px;

    @include pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__imgBox {
        margin-bottom: 30px;
        text-align: center;

        @include pc {
            width: 45%;
        }
    }

    &__txtBox {
        @include pc {
            width: 45%;
        }
    }

    & p {
        font-size: 14px;
    }
}

.about__event {
    &__box {
        padding-top: 20px;

        @include pc {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 40px;
            grid-auto-flow: column;
        }
    }

    &__item {


        & dt {
            margin-bottom: 10px;
            padding-bottom: 5px;
            font-size: 16px;
            border-bottom: 1px solid $black-color;
        }

        & dd {
            font-size: 12px;
            margin-bottom: 30px;
        }

        & time {
            font-size: 12px;
        }

        & span {
            font-size: 12px;
            display: inline-block;
            margin-bottom: 5px;

            &::before {
                content: "/";
                padding-right: 5px;
                margin-left: 10px;
            }
        }
    }
}


//skill--------------------

.skill__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;


    & dl dd {
        font-size: 14px;
    }
}

//works---------------------

.works {

    // & .sec__content__box {
    //     width: 90%;
    // }

    //works_nav
    &__list {
        font-size: 18px;
        margin-bottom: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item+&__item::before {
        content: "|";
        font-size: 18px;
        margin: 0 20px;
    }

    //glid
    &__glid__box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;

        @include pc {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        }

    }

    &glid__item {
        margin: 0;

        &figcaption {
            font-size: 14px;
        }


    }

    &__glid__cap {
        font-size: 12px;
        margin-bottom: 5px;

        & p::after {
            content: "|";
            font-size: 10px;
            padding-left: 10px;
            margin-right: 10px;
        }
    }


}

//contact

.contact {
    padding-bottom: 0;

    @include pc {

        &__box {
            position: relative;
            width: 100%;

            & footer {
                height: 50px;
                padding-top: 20%;
                background-position: bottom 50px;

                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

    }
}

//footer---------------------------------------

footer {
    color: $accent;
    width: 100%;
    padding-top: 40%;
    // border-top: 1px solid $black-color;
    margin-bottom: 30px;
    text-align: center;
    background-image: url(../img/footer.jpg);
    background-position: top center;
    background-size: contain;
    mix-blend-mode: multiply;

    & small {
        font-size: 11px;
    }
}