@charset "UTF-8";
.closeBtn__box {
  max-width: 1100px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .closeBtn__box {
    position: relative;
  }
}

.closeBtn {
  top: 0;
  right: 0;
  cursor: pointer;
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  margin: 30px 30px 0 0;
  z-index: 999;
}
@media (min-width: 769px) {
  .closeBtn {
    position: absolute;
  }
}
.closeBtn::before, .closeBtn::after {
  /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  /* 棒の幅（太さ） */
  height: 30px;
  /* 棒の高さ */
  background: #000;
}
.closeBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.closeBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 8vw;
}
@media (min-width: 769px) {
  section {
    padding: 100px 50px;
  }
}

/*コンテナ要素のスタイル*/
.swiper {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  height: auto;
  max-width: 600px;
  margin: 0;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
}

/*各スライドのスタイル*/
.swiper-slide {
  flex-flow: column nowrap;
}

/* スライダーのスタイル */
.slider {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.swiper-thumbnail .swiper-wrapper {
  flex-direction: row;
}

/*アクティブなときのスタイル*/
.swiper-thumbnail .swiper-slide {
  flex-flow: row nowrap;
  cursor: pointer;
  transition: opacity 0.5s;
}

.swiper-thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 0.4;
}

@media (min-width: 769px) {
  .worksHtml__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 769px) {
  .worksHtml__container .swiper {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 50%;
  }
}
.worksHtml .worksHtml__img {
  height: auto;
  max-width: 600px;
  text-align: center;
}
@media (min-width: 769px) {
  .worksHtml .worksHtml__img {
    width: 50%;
  }
}
.worksHtml__text {
  margin-top: 30px;
}
@media (min-width: 769px) {
  .worksHtml__text {
    margin-top: 0;
  }
}
.worksHtml__text .works__glid__cap {
  justify-content: start;
}
.worksHtml__text h3 {
  padding: 10px 0;
  border-bottom: 1px solid #000;
  font-weight: normal;
}
.worksHtml__text__cap {
  margin-top: 30px;
}
.worksHtml__text__cap a {
  border-bottom: 3px solid #dddcd6;
}
.worksHtml__text__cap a:hover {
  opacity: 0.7;
}
.worksHtml__text__cap p {
  font-size: 14px;
}
.worksHtml__text__cap p .subcap {
  display: inline-block;
  margin-bottom: 5px;
}
.worksHtml__text__cap ol {
  list-style-type: decimal-leading-zero;
  font-size: 14px;
  padding-left: 30px;
}
.worksHtml__text__cap__line {
  display: inline-block;
  width: 14px;
  border-top: 1px solid #000;
  margin: 40px 0 35px 0;
}
.worksHtml__text__cap__list dt, .worksHtml__text__cap__list dd {
  font-size: 12px;
}
.worksHtml__text__cap__list dt::after {
  content: "：";
}
.worksHtml__text__cap__list dd {
  margin-bottom: 10px;
}
.worksHtml__text__cap ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
}
@media (min-width: 769px) {
  .worksHtml__text__cap ul {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
.worksHtml__text__cap ul li {
  border: 1px solid #dddcd6;
}
.worksHtml__text__cap ul li a {
  display: block;
}
@media (min-width: 769px) {
  .worksHtml__text {
    width: 40%;
  }
}

.works__imgBox__01 {
  text-align: center;
}
.works__imgBox__01 img {
  width: 100px;
  height: auto;
  margin: 20px 0;
}
.works__imgBox__02 {
  text-align: center;
}
.works__imgBox__02 img {
  max-width: 300px;
  height: auto;
  margin: 20px 0;
}

footer {
  border-top: 1px solid #000;
  padding: 30px 0;
}

/*全て共通：hideエリアをはじめは非表示*/
.hide-area {
  display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}
/*# sourceMappingURL=works.css.map */