@charset "UTF-8";
.closeBtn__box {
  max-width: 1100px;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .closeBtn__box {
    position: relative;
  }
}

.closeBtn {
  top: 0;
  right: 0;
  cursor: pointer;
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  margin: 20px 30px 0 0;
  z-index: 999;
}
@media (min-width: 769px) {
  .closeBtn {
    position: absolute;
  }
}
.closeBtn::before, .closeBtn::after {
  /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  /* 棒の幅（太さ） */
  height: 30px;
  /* 棒の高さ */
  background: #000;
}
.closeBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.closeBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 8vw;
}
@media (min-width: 769px) {
  section {
    padding: 70px 50px;
  }
}

/*コンテナ要素のスタイル*/
.swiper {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  height: auto;
  max-width: 600px;
  margin: 0;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
}

/*各スライドのスタイル*/
.swiper-slide {
  flex-flow: column nowrap;
}

/* スライダーのスタイル */
.slider {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.swiper-thumbnail .swiper-wrapper {
  flex-direction: row;
}

/*アクティブなときのスタイル*/
.swiper-thumbnail .swiper-slide {
  flex-flow: row nowrap;
  cursor: pointer;
  transition: opacity 0.5s;
}

.swiper-thumbnail .swiper-slide.swiper-slide-thumb-active {
  opacity: 0.4;
}

.mb20 {
  margin-bottom: 20px;
}

.sp__none {
  margin-bottom: 0;
}
@media (min-width: 769px) {
  .sp__none {
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) {
  .worksHtml__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (min-width: 769px) {
  .worksHtml__container .swiper {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    width: 50%;
  }
}
.worksHtml .worksHtml__img {
  height: auto;
  max-width: 600px;
  text-align: center;
}
@media (min-width: 769px) {
  .worksHtml .worksHtml__img {
    width: 50%;
  }
}
@media (min-width: 769px) {
  .worksHtml__text {
    width: 42%;
  }
}
.worksHtml__text .worksHtml__title {
  margin-top: 50px;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}
@media (min-width: 769px) {
  .worksHtml__text .worksHtml__title {
    margin-top: 0;
  }
}
.worksHtml__text .worksHtml__title h3 {
  font-weight: normal;
  font-size: 21px;
}
.worksHtml__text .worksHtml__title .works__glid__cap {
  justify-content: start;
  margin: 0;
}
.worksHtml__text .worksHtml__title .works__glid__cap p {
  margin-bottom: 0;
}
.worksHtml__text__cap {
  margin-top: 50px;
}
.worksHtml__text__cap__item {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-top: 50px;
}
.worksHtml__text__cap p {
  font-size: 14px;
}
.worksHtml__text__cap ol {
  list-style-type: decimal-leading-zero;
  font-size: 14px;
  padding-left: 35px;
}
@media (min-width: 769px) {
  .worksHtml__text__cap ol {
    width: 60%;
  }
}
.worksHtml__text__cap ol li {
  margin-bottom: 10px;
}
.worksHtml__text__cap .logo__flex {
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .worksHtml__text__cap .logo__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.worksHtml__text__cap__line {
  display: inline-block;
  width: 14px;
  border-top: 1px solid #000;
  margin: 40px 0 35px 0;
}
.worksHtml__text__cap__list {
  display: flex;
  font-size: 12px;
}
.worksHtml__text__cap__list dt {
  min-width: 80px;
}
.worksHtml__text__cap__list dd {
  margin-bottom: 10px;
}

.underLine {
  border-bottom: 1px solid #000;
  line-height: 1.1;
  display: inline-block;
  margin: 0 5px;
}

.works__imgBox__01 {
  text-align: center;
}
@media (min-width: 769px) {
  .works__imgBox__01 {
    width: 35%;
  }
}
.works__imgBox__01 img {
  width: 100px;
  height: auto;
  margin: 20px 0;
}
.works__imgBox__02 {
  text-align: center;
}
.works__imgBox__02 img {
  max-width: 300px;
  height: auto;
  margin: 20px 0;
}

.viewSite {
  text-align: center;
  margin-bottom: 40px;
}
.viewSite a {
  display: block;
  border: 1px solid #000;
  box-shadow: 2px 2px 0 0 #000;
  padding: 15px;
  font-size: 16px;
  line-height: 1;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
@media (min-width: 769px) {
  .viewSite a {
    font-size: 18px;
  }
}
.viewSite a:hover {
  transform: translateY(2px);
  box-shadow: none;
  background-color: #000;
  color: #f8f8f8;
}

footer {
  border-top: 1px solid #000;
  padding: 30px 0;
}
/*# sourceMappingURL=works.css.map */