@charset "utf-8";

//変数--------------------
$pc: 769px;

@mixin pc {
    @media(min-width:($pc)) {
        @content;
    }
}

$white-color:#f8f8f8;
$black-color:#000;
$accent:#dddcd6;

//------------------------



.closeBtn__box {
    max-width: 1100px;
    margin: 0 auto;
    // background-color: $white-color;
    // opacity: .6;

    @include pc {
        position: relative;
    }
}

.closeBtn {
    top: 0;
    right: 0;
    cursor: pointer;
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    margin: 20px 30px 0 0;
    z-index: 999;

    @include pc {
        position: absolute;
    }

    &::before,
    &::after {
        /* 共通設定 */
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        /* 棒の幅（太さ） */
        height: 30px;
        /* 棒の高さ */
        background: $black-color;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 70px 8vw;

    @include pc {
        padding: 70px 50px;
    }
}

/*コンテナ要素のスタイル*/
.swiper {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    height: auto;
    max-width: 600px;
    margin: 0;

}

.swiper-container {
    overflow: hidden;
    width: 100%;

}

/*各スライドのスタイル*/
.swiper-slide {
    flex-flow: column nowrap;

}

/* スライダーのスタイル */
.slider {
    position: relative;
    width: 100%;
    flex-grow: 1;
}


.swiper-thumbnail .swiper-wrapper {
    flex-direction: row;
}

/*アクティブなときのスタイル*/
.swiper-thumbnail .swiper-slide {
    flex-flow: row nowrap;
    cursor: pointer;
    // opacity: 0.2;
    transition: opacity 0.5s;
}

.swiper-thumbnail .swiper-slide.swiper-slide-thumb-active {
    opacity: 0.4;
}


.mb20 {
    margin-bottom: 20px;
}

.sp__none {
    margin-bottom: 0;

    @include pc {
        margin-bottom: 20px;
    }
}

.worksHtml {

    &__container {

        @include pc {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }


        & .swiper {

            @include pc {
                position: -webkit-sticky;
                position: sticky;
                top: 60px;
                width: 50%;

            }
        }
    }

    & .worksHtml__img {
        height: auto;
        max-width: 600px;
        text-align: center;

        @include pc {
            width: 50%;

        }

    }

    &__text{


        @include pc {
            width: 42%;
        }

        & .worksHtml__title {
            margin-top: 50px;
            border-bottom: 1px solid $black-color;
            padding-bottom: 20px;
    
    
            @include pc {
                margin-top: 0;
            }
    
            & h3 {
                // padding: 10px 0;
                font-weight: normal;
                font-size: 21px;
                // text-align: center;
    
                // @include pc{
                //     text-align: left;
                // }
            }
    
            & .works__glid__cap {
                justify-content: start;
                margin: 0;
    
                // @include pc{
                //     justify-content: start;
                // }
    
                & p {
                    margin-bottom: 0;
                }
            }
        }

        &__cap {
            margin-top: 50px;

            &__item {
                font-size: 18px;
                margin-bottom: 15px;
                text-transform: uppercase;
                margin-top: 50px;
                // text-align: center;

                // @include pc {
                //     text-align: left;
                // }
            }

            & p {
                font-size: 14px;
                // margin-bottom: 30px;

                @include pc {
                    // margin-bottom: 50px;
                }

            }

            & ol {
                list-style-type: decimal-leading-zero;
                font-size: 14px;
                padding-left: 35px;

                @include pc {
                    width: 60%;
                }

                & li {
                    margin-bottom: 10px;
                }
            }

            & .logo__flex {

                margin-bottom: 30px;

                @include pc {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }

            &__line {
                display: inline-block;
                width: 14px;
                border-top: 1px solid $black-color;
                margin: 40px 0 35px 0;
            }

            &__list {

                display: flex;
                font-size: 12px;

                & dt {
                    min-width: 80px;
                }

                & dd {
                    margin-bottom: 10px;

                }
            }

        }
    }
}

.works__imgBox {

    &__01 {
        text-align: center;

        @include pc {
            width: 35%;
        }

        & img {
            width: 100px;
            height: auto;
            margin: 20px 0;
        }
    }

    &__02 {
        text-align: center;

        & img {
            max-width: 300px;
            height: auto;
            margin: 20px 0;
        }
    }
}

.viewSite {
    text-align: center;
    margin-bottom: 40px;

    & a {
        display: block;
        border: 1px solid $black-color;
        box-shadow: 2px 2px 0 0 $black-color;
        padding: 15px;
        font-size: 16px;
        // text-transform: uppercase;
        line-height: 1;
        transition: .2s cubic-bezier(0.45, 0, 0.55, 1);

        @include pc {
            font-size: 18px;
        }


        &:hover {
            transform: translateY(2px);
            box-shadow: none;
            background-color: $black-color;
            color: $white-color;
        }
    }
}

footer {
    border-top: 1px solid $black-color;
    padding: 30px 0;
}
