@charset "utf-8";

//変数--------------------
$pc: 769px;

@mixin pc {
    @media(min-width:($pc)) {
        @content;
    }
}

$white-color:
/* #fdfcf9;
/* #FAF9F6 */
#f8f8f8;
$black-color:#000
/* #333132 */
/* #180614 */
;
$accent:#C9171E
/* #783438 */
/* #E83929 */
/* #832F12 */
/* #7F6D35 */
;
//------------------------



.closeBtn__box {
    max-width: 1100px;
    margin: 0 auto;
    // background-color: $white-color;
    // opacity: .6;

    @include pc {
        position: relative;
    }
}

.closeBtn {
    top: 0;
    right: 0;
    cursor: pointer;
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    margin: 30px 30px 0 0;
    z-index: 999;

    @include pc {
        position: absolute;
    }

    &::before,
    &::after {
        /* 共通設定 */
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        /* 棒の幅（太さ） */
        height: 30px;
        /* 棒の高さ */
        background: $black-color;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 8vw;

    @include pc {
        padding: 100px 0;

    }
}

/*コンテナ要素のスタイル*/
.swiper {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    height: auto;
    max-width: 600px;
    margin: 0;
}

.swiper-container {
    overflow: hidden;
    width: 100%;

}

/*各スライドのスタイル*/
.swiper-slide {
    flex-flow: column nowrap;
    /*テキストの位置調整*/
    // display: flex;
    // justify-content: center;
    // align-items: center;

    // /*テキストの色と太さを指定*/
    // color: #212121;
    // font-weight: bold;
    // font-size: max(0.5rem, 1.5vw);
}

/* スライダーのスタイル */
.slider {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

/* サムネイルのスタイル */
// .swiper-thumbnail {
//     // height: 50px;
// }

.swiper-thumbnail .swiper-wrapper {
    flex-direction: row;
}

/*アクティブなときのスタイル*/
.swiper-thumbnail .swiper-slide {
    flex-flow: row nowrap;
    cursor: pointer;
    // opacity: 0.2;
    transition: opacity 0.5s;
}

.swiper-thumbnail .swiper-slide.swiper-slide-thumb-active {
    opacity: 0.4;
}



.worksHtml {

    &__container {

        @include pc {
            display: flex;
            justify-content: space-between;
        }


        & .swiper {

            @include pc {
                width: 50%;
            }
        }
    }

    &__text {
        margin-top: 30px;

        @include pc{
            margin-top: 0;
        }

        & .works__glid__cap {
            justify-content: start;
        }

        & h3 {
            padding: 10px 0;
            // display: inline-block;
            border-bottom: 1px solid $black-color;
            font-weight: normal;
        }

        &__cap {
            margin-top: 30px;

            & p {
                font-size: 14px;
                // margin-bottom: 30px;
            }

            &__line {
                display: inline-block;
                width: 14px;
                border-top: 1px solid $black-color;
                margin: 40px 0 35px 0;
            }

            &__list {

                & dt,
                & dd {
                    font-size: 12px;
                }

                & dt::after{
                    content: "：";
                }
                & dd{
                    margin-bottom: 10px;
                }
            }
        }





        @include pc {
            width: 40%;
        }
    }
}

footer {
    border-top: 1px solid $black-color;
    padding: 30px 0;
}